<div class="surface-200 flex align-items-center justify-content-center h-screen ">
    <p-card>
        <div class="flex flex-column">
            <span class=" flex p-float-label mb-4">
                <input type="text" pInputText [(ngModel)]="login" class="flex w-full"/>
                <label for="float-input">Login</label>
            </span>
            <span class="flex p-float-label mb-4">
                <p-password [(ngModel)]="password" [toggleMask]="true" [feedback]="false"  class="flex w-full"></p-password>
                <label for="float-input">Password</label>
            </span>
            <p-message *ngIf="showError" severity="info" text="invalid login or password" styleClass="flex h-full mb-4"></p-message>
            <p-button icon="pi pi-sign-in" (click)="valid()" label="connect" class="p-button-text"></p-button>   
        </div>
    </p-card>
</div>
