<div class="toDoCard flex flex-wrap justify-content-between m-3" [ngClass]="{ 'checked': toDo.todo_is_done }">
    <div>
        <p>
            {{toDo.todo_date  | date: 'à HH:mm, le d MMMM yyyy'}}
        </p>
        <p> 
            {{toDo.todo_label}}
        </p>
        <p class="completed" *ngIf="toDo.todo_is_done"> 
            COMPLETED
        </p>
    </div>
    
    <div class="flex flex-column">
        <p-button class="m-1" *ngIf="!toDo.todo_is_done" icon="pi pi-check-circle" (click)="onClickCheck()" styleClass="p-button-success"></p-button>
        <p-button class="m-1" *ngIf="!toDo.todo_is_done" icon="pi pi-pencil" (click)="onClickUpdate()" styleClass="p-button-warning"></p-button>
        <p-button class="m-1" icon="pi pi-trash" (click)="onClickDelete()" styleClass="p-button-danger"></p-button>
    </div>
</div>