
<div class="header flex align-items-center justify-content-end">
    <h3>{{userName}}</h3>
    <button pButton pRipple type="button" icon="pi pi-user" (click)="userMenu.toggle($event)" class="p-button-rounded flex align-self-center m-3"></button>
    <p-menu #userMenu [popup]="true" [model]="items"></p-menu>
</div>