<p-toast position="top-left"></p-toast>
<div class="flex justify-content-between align-items-center m-3">
    <h2 class="title">To do :</h2>
    <p-button icon="pi pi-plus" label="add" (click)="onAdd()"></p-button>
</div>
<p-scrollPanel [style]="{ height: '80vh'}">
    <app-to-do *ngFor="let toDo of toDoList" [toDo]="toDo"
        (onCheck)="onCheck($event)" (onDelete)="onDelete($event)" (onUpdate)="onUpdate($event)">
    </app-to-do> 
</p-scrollPanel>

<p-dialog header="To do:" [(visible)]="displayDialog" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="toDoToUpdate.todo_label"/>
            <label for="float-input">what should I do ?</label>
        </span>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onValidate()" label="Ok" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="onCloseDialog()" label="Cancel" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>